In [1]:
import pandas as pd

In [2]:
url = 'https://www.pro-football-reference.com/players/H/HerbJu00.htm#passing'

In [3]:
Herbert = pd.read_html(url)[0]

In [4]:
Herbert.head()

,Year,Age,Tm,Pos,No.,G,GS,QBrec,Cmp,Att,...,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD,AV,Awards
0,2020,22,LAC,QB,10.0,15,15,6-9-0,396,595,...,62.6,32,218,5.1,6.57,6.84,1,3,13,AP ORoY-1
1,2021*,23,LAC,QB,10.0,17,17,9-8-0,443,672,...,65.6,31,214,4.4,6.83,6.95,5,5,18,PB
2,Career,Career,NaN,NaN,NaN,32,32,15-17-0,839,1267,...,NaN,63,432,4.7,6.71,6.90,6,8,31,NaN

In [7]:
aaron_url = 'http://pfref.com/pi/share/FSAat'
Rodgers = pd.read_html(aaron_url)[0]

In [8]:
Rodgers.head()

,Year,Age,Tm,Pos,No.,G,GS,QBrec,Cmp,Att,...,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD,AV,Awards
0,2016*,33,GNB,QB,12.0,16,16,10-6-0,401,610,...,72.4,35,246,5.4,6.48,7.24,0,2,18,"AP MVP-5, AP OPoY-2, PB"
1,2017,34,GNB,qb,12.0,7,7,4-3-0,154,238,...,66.0,22,168,8.5,5.80,5.99,2,2,6,NaN
2,2018*,35,GNB,QB,12.0,16,16,6-9-1,372,597,...,58.0,49,353,7.6,6.33,6.96,3,3,13,PB
3,2019*,36,GNB,QB,12.0,16,16,13-3-0,353,569,...,52.5,36,284,6.0,6.15,6.71,2,3,14,PB
4,2020*+,37,GNB,QB,12.0,16,16,13-3-0,372,526,...,79.8,20,182,3.7,7.54,8.89,1,2,18,"AP MVP-1, AP OPoY-2, AP1, PB"