In [1]:
import pandas as pd
url = 'https://www.pro-football-reference.com/years/2019/fantasy.htm'
season_19 = pd.read_html(url,header=1)[0]
season_19.head()

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,...,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
0,1,Christian McCaffrey*+,CAR,RB,23,16,16,0,2,0,...,19,1,NaN,355,471.2,477.2,413.2,215,1,1
1,2,Lamar Jackson*+,BAL,QB,22,15,15,265,401,3127,...,7,NaN,NaN,416,415.7,429.7,421.7,152,1,2
2,3,Derrick Henry *,TEN,RB,25,15,15,0,0,0,...,18,NaN,NaN,277,294.6,303.6,285.6,136,2,3
3,4,Aaron Jones,GNB,RB,25,16,16,0,0,0,...,19,NaN,NaN,266,314.8,322.8,290.3,125,3,4
4,5,Ezekiel Elliott*,DAL,RB,24,16,16,0,0,0,...,14,NaN,NaN,258,311.7,319.7,284.7,117,4,5

In [2]:
url2 = 'https://www.pro-football-reference.com/years/2020/fantasy.htm'
season_20 = pd.read_html(url2,header=1)[0]
season_20.head()

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,...,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
0,1,Derrick Henry *+,TEN,RB,26,16,16,0,0,0,...,17,1,NaN,314,333.1,341.1,323.6,184,1,1
1,2,Alvin Kamara*,NOR,RB,25,15,10,0,0,0,...,21,NaN,NaN,295,377.8,383.8,336.3,165,2,2
2,3,Dalvin Cook*,MIN,RB,25,14,14,0,0,0,...,17,3,NaN,294,337.8,346.8,315.8,164,3,3
3,4,Davante Adams*+,GNB,WR,28,14,14,0,0,0,...,18,NaN,NaN,243,358.4,362.4,300.9,117,1,4
4,5,Travis Kelce*+,KAN,TE,31,15,15,1,2,4,...,11,1,NaN,208,312.8,316.8,260.3,117,1,5

In [3]:
season_19 = season_19.drop(['Rk','Player','Tm','VBD'],axis=1)
season_20 = season_20.drop(['Rk','Player','Tm','VBD'],axis=1)

In [4]:
season_19

,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,...,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,PosRank,OvRank
0,RB,23,16,16,0,2,0,0,0,287,...,0,19,1,NaN,355,471.2,477.2,413.2,1,1
1,QB,22,15,15,265,401,3127,36,6,176,...,2,7,NaN,NaN,416,415.7,429.7,421.7,1,2
2,RB,25,15,15,0,0,0,0,0,303,...,3,18,NaN,NaN,277,294.6,303.6,285.6,2,3
3,RB,25,16,16,0,0,0,0,0,236,...,2,19,NaN,NaN,266,314.8,322.8,290.3,3,4
4,RB,24,16,16,0,0,0,0,0,301,...,2,14,NaN,NaN,258,311.7,319.7,284.7,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,NaN,23,6,0,0,0,0,0,0,0,...,1,0,NaN,NaN,-2,-2.0,-1.0,-2.0,243,NaN
635,WR,24,6,0,0,0,0,0,0,0,...,1,0,NaN,NaN,-2,-0.9,0.1,-1.4,241,NaN
636,QB,23,3,0,2,4,14,0,1,2,...,0,0,NaN,NaN,-2,-1.6,-0.6,-0.6,73,NaN
637,WR,23,7,0,0,0,0,0,0,0,...,2,0,NaN,NaN,-3,-0.5,1.5,-1.5,245,NaN
638,NaN,25,4,0,0,0,0,0,0,0,...,2,0,NaN,NaN,-4,-4.0,-2.0,-4.0,165,NaN

In [5]:
season_20

,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,...,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,PosRank,OvRank
0,RB,26,16,16,0,0,0,0,0,378,...,2,17,1,NaN,314,333.1,341.1,323.6,1,1
1,RB,25,15,10,0,0,0,0,0,187,...,0,21,NaN,NaN,295,377.8,383.8,336.3,2,2
2,RB,25,14,14,0,0,0,0,0,312,...,3,17,3,NaN,294,337.8,346.8,315.8,3,3
3,WR,28,14,14,0,0,0,0,0,0,...,1,18,NaN,NaN,243,358.4,362.4,300.9,1,4
4,TE,31,15,15,1,2,4,0,0,0,...,1,11,1,NaN,208,312.8,316.8,260.3,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
674,NaN,33,3,0,0,0,0,0,0,0,...,1,0,NaN,NaN,-2,-2.0,-1.0,-2.0,255,NaN
675,QB,27,1,0,5,12,32,0,1,2,...,1,0,NaN,NaN,-2,-1.5,0.5,-0.5,82,NaN
676,NaN,24,16,0,0,0,0,0,0,0,...,1,0,NaN,NaN,-2,-2.0,-1.0,-2.0,256,NaN
677,WR,27,2,0,0,0,0,0,0,0,...,1,0,NaN,NaN,-2,-0.6,0.4,-1.1,254,NaN
678,WR,23,1,0,1,9,13,0,2,2,...,0,0,NaN,NaN,-3,-2.8,-0.8,-0.8,257,NaN

In [6]:
season_19 = season_19[season_19['FantPos'].notna()]

In [7]:
season_19['FantPos'].value_counts()

WR         219
RB         152
TE         116
QB          71
FantPos     20
Name: FantPos, dtype: int64

In [8]:
season_19 = season_19[season_19['FantPos'] != 'FantPos']
season_19

,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,...,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,PosRank,OvRank
0,RB,23,16,16,0,2,0,0,0,287,...,0,19,1,NaN,355,471.2,477.2,413.2,1,1
1,QB,22,15,15,265,401,3127,36,6,176,...,2,7,NaN,NaN,416,415.7,429.7,421.7,1,2
2,RB,25,15,15,0,0,0,0,0,303,...,3,18,NaN,NaN,277,294.6,303.6,285.6,2,3
3,RB,25,16,16,0,0,0,0,0,236,...,2,19,NaN,NaN,266,314.8,322.8,290.3,3,4
4,RB,24,16,16,0,0,0,0,0,301,...,2,14,NaN,NaN,258,311.7,319.7,284.7,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,QB,27,3,1,12,21,126,0,2,6,...,1,0,NaN,NaN,-1,-1.5,1.5,0.5,72,NaN
633,WR,27,1,1,0,0,0,0,0,0,...,1,0,NaN,NaN,-2,-1.4,-0.4,-1.9,244,NaN
635,WR,24,6,0,0,0,0,0,0,0,...,1,0,NaN,NaN,-2,-0.9,0.1,-1.4,241,NaN
636,QB,23,3,0,2,4,14,0,1,2,...,0,0,NaN,NaN,-2,-1.6,-0.6,-0.6,73,NaN
637,WR,23,7,0,0,0,0,0,0,0,...,2,0,NaN,NaN,-3,-0.5,1.5,-1.5,245,NaN

In [9]:
season_19['FantPos'].value_counts()

WR    219
RB    152
TE    116
QB     71
Name: FantPos, dtype: int64

In [10]:
season_19.isnull().sum()

FantPos      0
Age          0
G            0
GS           0
Cmp          0
Att          0
Yds          0
TD           0
Int          0
Att.1        0
Yds.1        0
Y/A        234
TD.1         0
Tgt          0
Rec          0
Yds.2        0
Y/R         82
TD.2         0
Fmb          0
FL           0
TD.3         0
2PM        508
2PP        532
FantPt      16
PPR          1
DKPt         1
FDPt         1
PosRank      0
OvRank     482
dtype: int64

In [11]:
season_19['Y/A'] = season_19['Y/A'].fillna(0)
season_19.isnull().sum()

FantPos      0
Age          0
G            0
GS           0
Cmp          0
Att          0
Yds          0
TD           0
Int          0
Att.1        0
Yds.1        0
Y/A          0
TD.1         0
Tgt          0
Rec          0
Yds.2        0
Y/R         82
TD.2         0
Fmb          0
FL           0
TD.3         0
2PM        508
2PP        532
FantPt      16
PPR          1
DKPt         1
FDPt         1
PosRank      0
OvRank     482
dtype: int64

In [12]:
season_19['Y/R'] = season_19['Y/R'].fillna(0)
season_19.isnull().sum()

FantPos      0
Age          0
G            0
GS           0
Cmp          0
Att          0
Yds          0
TD           0
Int          0
Att.1        0
Yds.1        0
Y/A          0
TD.1         0
Tgt          0
Rec          0
Yds.2        0
Y/R          0
TD.2         0
Fmb          0
FL           0
TD.3         0
2PM        508
2PP        532
FantPt      16
PPR          1
DKPt         1
FDPt         1
PosRank      0
OvRank     482
dtype: int64

In [13]:
season_19['2PM'] = season_19['2PM'].fillna(0)
season_19.isnull().sum()

FantPos      0
Age          0
G            0
GS           0
Cmp          0
Att          0
Yds          0
TD           0
Int          0
Att.1        0
Yds.1        0
Y/A          0
TD.1         0
Tgt          0
Rec          0
Yds.2        0
Y/R          0
TD.2         0
Fmb          0
FL           0
TD.3         0
2PM          0
2PP        532
FantPt      16
PPR          1
DKPt         1
FDPt         1
PosRank      0
OvRank     482
dtype: int64

In [14]:
season_19['2PP'] = season_19['2PP'].fillna(0)
season_19.isnull().sum()

FantPos      0
Age          0
G            0
GS           0
Cmp          0
Att          0
Yds          0
TD           0
Int          0
Att.1        0
Yds.1        0
Y/A          0
TD.1         0
Tgt          0
Rec          0
Yds.2        0
Y/R          0
TD.2         0
Fmb          0
FL           0
TD.3         0
2PM          0
2PP          0
FantPt      16
PPR          1
DKPt         1
FDPt         1
PosRank      0
OvRank     482
dtype: int64

In [15]:
season_19[season_19['FantPt'].isnull()]

,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,...,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,PosRank,OvRank
560,QB,25,3,0,3,4,15,0,0,5,...,0,0,0,0,NaN,-0.1,-0.1,-0.1,68,NaN
568,TE,25,11,0,0,0,0,0,0,0,...,0,0,0,0,NaN,1.4,1.4,0.9,112,NaN
570,TE,31,2,2,0,0,0,0,0,2,...,0,0,0,0,NaN,0.3,0.3,0.3,114,NaN
580,TE,23,4,0,0,0,0,0,0,0,...,0,0,0,0,NaN,1.4,1.4,0.9,113,NaN
581,QB,28,5,0,0,3,0,0,0,3,...,0,0,0,0,NaN,-0.3,-0.3,-0.3,69,NaN
583,WR,26,2,0,0,0,0,0,0,0,...,0,0,0,0,NaN,1.3,1.3,0.8,216,NaN
584,TE,27,3,1,0,0,0,0,0,0,...,0,0,0,0,NaN,1.3,1.3,0.8,115,NaN
589,WR,24,8,0,0,0,0,0,0,0,...,0,0,0,0,NaN,1.4,1.4,0.9,215,NaN
599,QB,24,1,0,0,0,0,0,0,1,...,0,0,0,0,NaN,0.1,0.1,0.1,64,NaN
602,RB,31,1,0,0,0,0,0,0,1,...,0,0,0,0,NaN,0.4,0.4,0.4,150,NaN
603,QB,24,1,0,0,0,0,0,0,3,...,0,0,0,0,NaN,-0.3,-0.3,-0.3,70,NaN
605,RB,27,3,0,0,0,0,0,0,0,...,0,0,0,0,NaN,2.4,2.4,1.4,151,NaN
607,RB,28,11,0,0,0,0,0,0,3,...,0,0,0,0,NaN,1.4,1.4,0.9,152,NaN
613,QB,28,1,1,3,6,3,0,0,0,...,0,0,0,0,NaN,0.1,0.1,0.1,63,NaN
619,QB,32,1,0,1,1,1,0,0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,65,NaN
621,TE,27,8,3,0,0,0,0,0,0,...,0,0,0,0,NaN,1.1,1.1,0.6,116,NaN

In [16]:
season_19 = season_19[season_19['FantPt'].notna()]
season_19

,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,...,FL,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,PosRank,OvRank
0,RB,23,16,16,0,2,0,0,0,287,...,0,19,1,0,355,471.2,477.2,413.2,1,1
1,QB,22,15,15,265,401,3127,36,6,176,...,2,7,0,0,416,415.7,429.7,421.7,1,2
2,RB,25,15,15,0,0,0,0,0,303,...,3,18,0,0,277,294.6,303.6,285.6,2,3
3,RB,25,16,16,0,0,0,0,0,236,...,2,19,0,0,266,314.8,322.8,290.3,3,4
4,RB,24,16,16,0,0,0,0,0,301,...,2,14,0,0,258,311.7,319.7,284.7,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,QB,27,3,1,12,21,126,0,2,6,...,1,0,0,0,-1,-1.5,1.5,0.5,72,NaN
633,WR,27,1,1,0,0,0,0,0,0,...,1,0,0,0,-2,-1.4,-0.4,-1.9,244,NaN
635,WR,24,6,0,0,0,0,0,0,0,...,1,0,0,0,-2,-0.9,0.1,-1.4,241,NaN
636,QB,23,3,0,2,4,14,0,1,2,...,0,0,0,0,-2,-1.6,-0.6,-0.6,73,NaN
637,WR,23,7,0,0,0,0,0,0,0,...,2,0,0,0,-3,-0.5,1.5,-1.5,245,NaN

In [17]:
season_19.isnull().sum()

FantPos      0
Age          0
G            0
GS           0
Cmp          0
Att          0
Yds          0
TD           0
Int          0
Att.1        0
Yds.1        0
Y/A          0
TD.1         0
Tgt          0
Rec          0
Yds.2        0
Y/R          0
TD.2         0
Fmb          0
FL           0
TD.3         0
2PM          0
2PP          0
FantPt       0
PPR          0
DKPt         0
FDPt         0
PosRank      0
OvRank     466
dtype: int64

In [18]:
season_19.dtypes

FantPos    object
Age        object
G          object
GS         object
Cmp        object
Att        object
Yds        object
TD         object
Int        object
Att.1      object
Yds.1      object
Y/A        object
TD.1       object
Tgt        object
Rec        object
Yds.2      object
Y/R        object
TD.2       object
Fmb        object
FL         object
TD.3       object
2PM        object
2PP        object
FantPt     object
PPR        object
DKPt       object
FDPt       object
PosRank    object
OvRank     object
dtype: object

In [19]:
columns = season_19.columns[1:]

for col in columns:
    season_19[col] = pd.to_numeric(season_19[col],errors='coerce')
    
season_19.dtypes

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

FantPos     object
Age          int64
G            int64
GS           int64
Cmp          int64
Att          int64
Yds          int64
TD           int64
Int          int64
Att.1        int64
Yds.1        int64
Y/A        float64
TD.1         int64
Tgt          int64
Rec          int64
Yds.2        int64
Y/R        float64
TD.2         int64
Fmb          int64
FL           int64
TD.3         int64
2PM          int64
2PP          int64
FantPt       int64
PPR        float64
DKPt       float64
FDPt       float64
PosRank      int64
OvRank     float64
dtype: object

In [20]:
season_19['N_PPR_OvRank'] = season_19['FantPt'].rank(method='first',ascending=False)
season_19['PPR_OvRank'] = season_19['PPR'].rank(method='first',ascending=False)
season_19

/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,...,2PM,2PP,FantPt,PPR,DKPt,FDPt,PosRank,OvRank,N_PPR_OvRank,PPR_OvRank
0,RB,23,16,16,0,2,0,0,0,287,...,1,0,355,471.2,477.2,413.2,1,1.0,2.0,1.0
1,QB,22,15,15,265,401,3127,36,6,176,...,0,0,416,415.7,429.7,421.7,1,2.0,1.0,2.0
2,RB,25,15,15,0,0,0,0,0,303,...,0,0,277,294.6,303.6,285.6,2,3.0,11.0,11.0
3,RB,25,16,16,0,0,0,0,0,236,...,0,0,266,314.8,322.8,290.3,3,4.0,14.0,7.0
4,RB,24,16,16,0,0,0,0,0,301,...,0,0,258,311.7,319.7,284.7,4,5.0,16.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,QB,27,3,1,12,21,126,0,2,6,...,0,0,-1,-1.5,1.5,0.5,72,NaN,538.0,541.0
633,WR,27,1,1,0,0,0,0,0,0,...,0,0,-2,-1.4,-0.4,-1.9,244,NaN,539.0,540.0
635,WR,24,6,0,0,0,0,0,0,0,...,0,0,-2,-0.9,0.1,-1.4,241,NaN,540.0,539.0
636,QB,23,3,0,2,4,14,0,1,2,...,0,0,-2,-1.6,-0.6,-0.6,73,NaN,541.0,542.0
637,WR,23,7,0,0,0,0,0,0,0,...,0,0,-3,-0.5,1.5,-1.5,245,NaN,542.0,537.0

In [22]:
season_19 = season_19.drop(columns=['OvRank'],axis=1)
season_19

,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,...,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,PosRank,N_PPR_OvRank,PPR_OvRank
0,RB,23,16,16,0,2,0,0,0,287,...,19,1,0,355,471.2,477.2,413.2,1,2.0,1.0
1,QB,22,15,15,265,401,3127,36,6,176,...,7,0,0,416,415.7,429.7,421.7,1,1.0,2.0
2,RB,25,15,15,0,0,0,0,0,303,...,18,0,0,277,294.6,303.6,285.6,2,11.0,11.0
3,RB,25,16,16,0,0,0,0,0,236,...,19,0,0,266,314.8,322.8,290.3,3,14.0,7.0
4,RB,24,16,16,0,0,0,0,0,301,...,14,0,0,258,311.7,319.7,284.7,4,16.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,QB,27,3,1,12,21,126,0,2,6,...,0,0,0,-1,-1.5,1.5,0.5,72,538.0,541.0
633,WR,27,1,1,0,0,0,0,0,0,...,0,0,0,-2,-1.4,-0.4,-1.9,244,539.0,540.0
635,WR,24,6,0,0,0,0,0,0,0,...,0,0,0,-2,-0.9,0.1,-1.4,241,540.0,539.0
636,QB,23,3,0,2,4,14,0,1,2,...,0,0,0,-2,-1.6,-0.6,-0.6,73,541.0,542.0
637,WR,23,7,0,0,0,0,0,0,0,...,0,0,0,-3,-0.5,1.5,-1.5,245,542.0,537.0

In [23]:
season_19.isnull().sum()

FantPos         0
Age             0
G               0
GS              0
Cmp             0
Att             0
Yds             0
TD              0
Int             0
Att.1           0
Yds.1           0
Y/A             0
TD.1            0
Tgt             0
Rec             0
Yds.2           0
Y/R             0
TD.2            0
Fmb             0
FL              0
TD.3            0
2PM             0
2PP             0
FantPt          0
PPR             0
DKPt            0
FDPt            0
PosRank         0
N_PPR_OvRank    0
PPR_OvRank      0
dtype: int64

In [24]:
season_20 = season_20[season_20['FantPos'].notna()]
season_20 = season_20[season_20['FantPos'] != 'FantPos']
season_20['Y/A'] = season_20['Y/A'].fillna(0)
season_20['Y/R'] = season_20['Y/R'].fillna(0)
season_20['2PM'] = season_20['2PM'].fillna(0)
season_20['2PP'] = season_20['2PP'].fillna(0)
season_20 = season_20[season_20['FantPt'].notna()]

columns = season_20.columns[1:]

for col in columns:
    season_20[col] = pd.to_numeric(season_20[col],errors='coerce')
    
season_20.dtypes

FantPos     object
Age          int64
G            int64
GS           int64
Cmp          int64
Att          int64
Yds          int64
TD           int64
Int          int64
Att.1        int64
Yds.1        int64
Y/A        float64
TD.1         int64
Tgt          int64
Rec          int64
Yds.2        int64
Y/R        float64
TD.2         int64
Fmb          int64
FL           int64
TD.3         int64
2PM          int64
2PP          int64
FantPt       int64
PPR        float64
DKPt       float64
FDPt       float64
PosRank      int64
OvRank     float64
dtype: object

In [25]:
season_20['N_PPR_OvRank'] = season_20['FantPt'].rank(method='first',ascending=False)
season_20['PPR_OvRank'] = season_20['PPR'].rank(method='first',ascending=False)
season_20 = season_20.drop(columns=['OvRank'],axis=1)
season_20

,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,...,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,PosRank,N_PPR_OvRank,PPR_OvRank
0,RB,26,16,16,0,0,0,0,0,378,...,17,1,0,314,333.1,341.1,323.6,1,11.0,12.0
1,RB,25,15,10,0,0,0,0,0,187,...,21,0,0,295,377.8,383.8,336.3,2,13.0,4.0
2,RB,25,14,14,0,0,0,0,0,312,...,17,3,0,294,337.8,346.8,315.8,3,14.0,11.0
3,WR,28,14,14,0,0,0,0,0,0,...,18,0,0,243,358.4,362.4,300.9,1,21.0,8.0
4,TE,31,15,15,1,2,4,0,0,0,...,11,1,0,208,312.8,316.8,260.3,1,30.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
672,RB,22,1,0,0,0,0,0,0,1,...,0,0,0,-1,NaN,NaN,-0.5,176,565.0,NaN
673,WR,32,15,0,0,0,0,0,0,1,...,0,0,0,-1,3.1,5.1,1.1,252,566.0,516.0
675,QB,27,1,0,5,12,32,0,1,2,...,0,0,0,-2,-1.5,0.5,-0.5,82,567.0,567.0
677,WR,27,2,0,0,0,0,0,0,0,...,0,0,0,-2,-0.6,0.4,-1.1,254,568.0,565.0
678,WR,23,1,0,1,9,13,0,2,2,...,0,0,0,-3,-2.8,-0.8,-0.8,257,569.0,568.0

In [26]:
season_20.isnull().sum()

FantPos         0
Age             0
G               0
GS              0
Cmp             0
Att             0
Yds             0
TD              0
Int             0
Att.1           0
Yds.1           0
Y/A             0
TD.1            0
Tgt             0
Rec             0
Yds.2           0
Y/R             0
TD.2            0
Fmb             0
FL              0
TD.3            0
2PM             0
2PP             0
FantPt          0
PPR             1
DKPt            1
FDPt            0
PosRank         0
N_PPR_OvRank    0
PPR_OvRank      1
dtype: int64

In [27]:
season_20[season_20['PPR'].isnull()]

,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,...,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,PosRank,N_PPR_OvRank,PPR_OvRank
672,RB,22,1,0,0,0,0,0,0,1,...,0,0,0,-1,NaN,NaN,-0.5,176,565.0,NaN

In [28]:
season_20 = season_20[season_20['PPR'].notna()]
season_20.isnull().sum()

FantPos         0
Age             0
G               0
GS              0
Cmp             0
Att             0
Yds             0
TD              0
Int             0
Att.1           0
Yds.1           0
Y/A             0
TD.1            0
Tgt             0
Rec             0
Yds.2           0
Y/R             0
TD.2            0
Fmb             0
FL              0
TD.3            0
2PM             0
2PP             0
FantPt          0
PPR             0
DKPt            0
FDPt            0
PosRank         0
N_PPR_OvRank    0
PPR_OvRank      0
dtype: int64

In [59]:
def cleanffball(year,name):
    url = f'https://www.pro-football-reference.com/years/{year}/fantasy.htm'
    df = pd.read_html(url,header=1)[0]
    df = df.drop(['Rk','Player','Tm','VBD'],axis=1)
    df = df[df['FantPos'].notna()]
    df = df[df['FantPos'] != 'FantPos']
    df['Y/A'] = df['Y/A'].fillna(0)
    df['Y/R'] = df['Y/R'].fillna(0)
    df['2PM'] = df['2PM'].fillna(0)
    df['2PP'] = df['2PP'].fillna(0)
    df = df[df['FantPt'].notna()]
    columns = df.columns[1:]
    for col in columns:
        df[col] = pd.to_numeric(df[col],errors='coerce')
    df['N_PPR_OvRank'] = df['FantPt'].rank(method='first',ascending=False)
    df['PPR_OvRank'] = df['PPR'].rank(method='first',ascending=False)
    df = df.drop(columns=['OvRank'],axis=1)
    df = df.dropna()
    df.to_csv(f'{name}.csv',index=False)

In [60]:
cleanffball(2021,'season_21')

In [61]:
season_21 = pd.read_csv('season_21.csv')
season_21.head()

,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,...,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,PosRank,N_PPR_OvRank,PPR_OvRank
0,RB,22,17,17,0,0,0,0,0,332,...,20,0,0,333,373.1,381.1,353.1,1,5.0,5.0
1,WR,28,17,17,0,1,0,0,0,4,...,16,1,0,295,439.5,442.5,367.0,1,13.0,1.0
2,WR,25,16,15,1,2,24,1,0,59,...,14,0,0,262,339.0,347.0,300.5,2,16.0,9.0
3,QB,25,17,17,409,646,4407,36,15,122,...,6,2,1,403,402.6,426.6,417.6,1,1.0,2.0
4,RB,26,16,16,0,0,0,0,0,206,...,20,2,0,274,343.8,352.8,308.8,2,14.0,8.0

In [55]:
season_21.isnull().sum()

FantPos         0
Age             0
G               0
GS              0
Cmp             0
Att             0
Yds             0
TD              0
Int             0
Att.1           0
Yds.1           0
Y/A             0
TD.1            0
Tgt             0
Rec             0
Yds.2           0
Y/R             0
TD.2            0
Fmb             0
FL              0
TD.3            0
2PM             0
2PP             0
FantPt          0
PPR             0
DKPt            0
FDPt            0
PosRank         0
N_PPR_OvRank    0
PPR_OvRank      0
dtype: int64

In [56]:
function(2020,'season_20')

In [57]:
season_20 = pd.read_csv('season_20.csv')
season_20.head()

,FantPos,Age,G,GS,Cmp,Att,Yds,TD,Int,Att.1,...,TD.3,2PM,2PP,FantPt,PPR,DKPt,FDPt,PosRank,N_PPR_OvRank,PPR_OvRank
0,RB,26,16,16,0,0,0,0,0,378,...,17,1,0,314,333.1,341.1,323.6,1,11.0,12.0
1,RB,25,15,10,0,0,0,0,0,187,...,21,0,0,295,377.8,383.8,336.3,2,13.0,4.0
2,RB,25,14,14,0,0,0,0,0,312,...,17,3,0,294,337.8,346.8,315.8,3,14.0,11.0
3,WR,28,14,14,0,0,0,0,0,0,...,18,0,0,243,358.4,362.4,300.9,1,21.0,8.0
4,TE,31,15,15,1,2,4,0,0,0,...,11,1,0,208,312.8,316.8,260.3,1,30.0,17.0

In [58]:
season_20.isnull().sum()

FantPos         0
Age             0
G               0
GS              0
Cmp             0
Att             0
Yds             0
TD              0
Int             0
Att.1           0
Yds.1           0
Y/A             0
TD.1            0
Tgt             0
Rec             0
Yds.2           0
Y/R             0
TD.2            0
Fmb             0
FL              0
TD.3            0
2PM             0
2PP             0
FantPt          0
PPR             0
DKPt            0
FDPt            0
PosRank         0
N_PPR_OvRank    0
PPR_OvRank      0
dtype: int64